extends ../../_layout/_layout_template

include ../../_layout/_layout_mixins

block title
  title Knockback-Inspector.js

block includes
  link(rel='stylesheet', href='css/tutorial.css')

block navbar
  +pageNavbar('Components', false)

block content
  :markdown-it
    Compatible Components: Knockback-Inspector.js
    ====================

    Knockback-Inspector.js provides a way to embed a View in your application (typically for debugging) where you can visualize and edit a tree view of your RESTful data!

  h3 Try out the Knockback-Inspector:
  iframe(style='width: 100%; height: 450px', src='http://jsfiddle.net/kmalakoff/FRhEV/embedded/result,js,html,resources/', allowfullscreen='allowfullscreen', frameborder='0')

  :markdown-it


    You should take a look at the [Knockback-Inspector Tutorial](tutorial_knockback_inspector.html) which provides an advanced, step-by-step tutorial showing how the inspector was built.