div#script_language
  .separator
    .selection.codestyle
      .option
        input.auto#cs-cs(type="radio",name="codestyle",value="cs")
        label(for="cs-cs") CoffeeScript
      .option
        input#cs-js(type="radio",name="codestyle",value="js")
        label(for="cs-js") Javascript