script(type="application/javascript",src="vendor/javascripts/globalize/globalize.js")
script(type="application/javascript",src="vendor/javascripts/globalize/globalize.culture.en-GB.js")
script(type="application/javascript",src="vendor/javascripts/globalize/globalize.culture.fr-FR.js")
