// Content
// -------

section#content
  position relative
  z-index 100
  animation-delay 2s
  line-height 1.2em
  -webkit-font-smoothing antialiased

  .content
    padding 10px 10px

    p, ul
      margin 10px 0px

  .cols.wrapped
    border 1px solid gray
    padding 0 10px
    margin 10px
    border-radius 3px

  .cols
    overflow hidden
    font-size 1.3em
    .col
      width 33.33%
      float left

  p
    font-size 16px

  p, pre
    margin @line-height 0px

  pre.hl
    position relative
    code
      position relative
      padding @line-height 2em
      overflow auto
      z-index 100

    // TODO match with style
    _bg = #444

    &:before
    &:after
      z-index 200
      content ''
      position absolute
      top 0px
      height 100%
      width 2em

    &:before
      left 0px
      background linear-gradient(right, rgba(_bg,0), rgba(_bg,1))
    &:after
      right 0px
      background linear-gradient(left, rgba(_bg,0), rgba(_bg,1))

  ul
    display block
    margin @line-height 0
    padding 0px
    li
      list-style square outside
      padding 0px
      margin 0px
      margin-left 1em

  // Comparison table
  // ----------------

  c_yes = hsl(90,40%,50%)
  c_no = hsl(0,50%,50%)

  .comparison
    width 100%
    margin 10px auto 20px
    border-collapse separate
    border-spacing 2px

    col
      width 30%

    col.mid
      width 35%

    col.ref
      width 5%

    tr
      td
      th
        position relative
        padding 0.5em 2ex
        line-height 1em
        text-align left
        //transition opacity 200ms

        &:first-child
          text-align right
        //&:last-child
        //  text-align left
        &.mid
          text-align center

        &.ref
          text-align center

    tbody td
      border 1px solid rgba(black, 0.2)

    th
      background #ddd
      font-size 1.4em
      padding: 1em 2px

    th.kb
      font-size 1.8em

    td
      font-size 1.3em
      padding: 0.5em 2ex

    td.hidden
      border 0px none
      background none transparent

    td.yes
      background c_yes
      color white
      text-shadow 0px 1px 0px rgba(black,0.2)
    td.no
      background c_no
      color white
      text-shadow 0px -1px 0px rgba(black,0.2)

    td.own
      text-align center
      background c_yes
      color hsl(90,40%,10%)
      text-shadow 0px -1px 0px hsl(90, 60%, 70%)

    td.done
      font-family Helvetica, Arial, sans-serif
      background c_yes
      color hsl(90,40%,20%)
      text-shadow 0px -1px 0px hsl(90,40%,10%)
      font-size 2em
      padding 0px
      text-align center

    td.ref
      padding-left 0px
      padding-right 0px
      border 0px none
      line-height 0.5em

    &:hover
      tr td
        opacity 0.7
      tr:hover td
        opacity 1

    td.dependent:before
      content '▼'
      display block
      position absolute
      top -0.5em
      left 50%
      font-size 20px
      line-height 1em
      width 3em
      margin -2px -1.5em
      color hsl(90,40%,20%)

    /*
    .col .content
      border 2px solid gray

    .first
      text-align left
      .content
        border-right 0px none
    .mid
      text-align center
      .content
        padding 20px 10px
        margin -20px 0px
    .last
      text-align right
      .content
        border-left 0px none
    */

  .notes
    font-size 0px
    h1
      font-size 1.2em
    p
      font-size 1em
      margin 10px 0px
    h2
      font-size 0px
      margin 0px
      padding 0px
      line-height 0px
      text-indent -9999px
      overflow hidden
    section
      width 30%
      display inline-block
      font-size 13px
      padding 0
      margin-right 1%
      vertical-align top
      *float left
      > *
        padding 1px 3%