extends layout

block title
  title= "Knockback.js Tutorials"

block navbar
  div.navbar
    div.navbar-inner
      div.container
        ul.nav
          li
            a(href='index.html') Home
          li
            a(href='docs.html') Docs
          li.active
            a(href='tutorials.html') Tutorials
        div#script_language
          .separator
            .selection.codestyle
              .option
                input.auto#cs-cs(type="radio",name="codestyle",value="cs")
                label(for="cs-cs") CoffeeScript
              .option
                input#cs-js(type="radio",name="codestyle",value="js")
                label(for="cs-js") Javascript

block content
  section
    div= "Tutorials"
