extends _jade_includes/layout

block title
  title= "Knockback.js Tutorial: Inspector"

block includes
  link(rel="stylesheet",href="stylesheets/tutorial.css")
  include _jade_includes/include_knockback_scripts

block navbar
  include _jade_includes/layout_components/page_navbar
  mixin pageNavbar('Tutorials', true)

block content
  section
    h1="Tutorial: Knockback Inspector"

    pre(data-for='cs'): code.coffee.
      x = 0

    pre(data-for='js'): code.javascript.
      var x = 0;

