extends ../../_layout/_layout_template

include ../../_layout/_layout_mixins

block title
  title Getting Started Overview

block includes
  link(rel='stylesheet', href='stylesheets/tutorial.css')
  include ../../_demos/_demos_include_knockback_scripts

block navbar
  mixin pageNavbar('Getting Started', true)

block content
  section
    h1 Getting Started with Knockback.js
    div
      span In essence,
      a(href='index.html')  Knockback.js
      span  bridges the dynamic DOM bindings of
      a(href='http://knockoutjs.com/')  Knockout.js
      span  with the models, computeds, and routers of
      a(href='http://documentcloud.github.com/backbone/')  Backbone.js
      span . Well, it also brings some other cool features like localization, default values, and nested view models.

    p
    h2 Useful Resources
    div Before you start with Knockback.js, we recommend you first get acquainted with Backbone.js and Knockout.js by reviewing their websites (above) and this information:
    p
      ul
        li
          a(href='http://documentcloud.github.com/backbone/docs/todos.html') Documentation of Backbone.js Todos app
          span  (but skip the section on views)
        li
          a(href='http://knockoutjs.com/examples/') Live examples of Knockout.js
        li
          a(href='http://channel9.msdn.com/Events/MIX/MIX11/FRM08') Excellent video walking through Knockout.js
    span For Knockback.js, also take a look at this
    a(href='index.html#comparison_table')  comparison table
    span  between the libraries or this
    a(href='http://www.geekdave.com/?p=79')  blog entry
    span  which provides a good introduction.

    p
    h2 Topics
    p You can find the various topics in the navigation bar above.
    p
      ul
        li
          a(href='getting_started_dependent_library_basics.html') Dependent Library Basics
          span : quick overview of Backbone.js and Knockout.js topics relevant to Knockback.js
        li
          a(href='getting_started_knockback_basics.html') Knockback Basics 
          span : shows you how to bind a Backbone.Model and Backbone.Collection to DOM elements
        li
          a(href='getting_started_knockback_important_details.html') Knockback Important Details
          span : an explaination of a few additional things you should know before diving in
        li
          a(href='getting_started_knockback_application_patterns.html') Knockback Application Patterns 
          span : some patterns you may want to use when building an application with Knockback.js
