script(type='application/javascript', src='vendor/globalize/globalize.js')
script(type='application/javascript', src='vendor/globalize/globalize.culture.en-GB.js')
script(type='application/javascript', src='vendor/globalize/globalize.culture.fr-FR.js')
script(type='application/javascript', src='vendor/js/knockback-full-stack-0.16.3.js')