div.knockback_logo
  .lock
    .logo
      .part.left.animated.fadeInRight: img(src='img/left.svg')
      .part.right.animated.fadeInLeft: img(src='img/right.svg')
    h1
      span.knock.animated.fadeInRight.kb Knock
      span.back.animated.fadeInLeft.kb back.js

  h2
    span.knock.animated.fadeIn= "brings Knockout.js "
    span.magic.animated.fadeIn= "magic "
    span.back.animated.fadeIn= "to Backbone.js"