extends ../../_layout/_layout_template

include ../../_layout/_layout_mixins

block title
  title Tutorial: Relational Models

block includes
  link(rel='stylesheet', href='css/tutorial.css')
  include ../../_layout/_layout_include_demo_scripts
  script(type='application/javascript', src='vendor/js/backbone-relational-0.8.0plus.js')

block navbar
  mixin pageNavbar('Tutorials', true)

block content
  section
    h1 Tutorial: Nested Models
    div
      span Because Backbone.Models can have attributes than contain nested Backbone.Models or Backbone.Collections, there are times where you need to specialize the ViewModel you want to use; for example, in a model/collection hierachy with relationships. When you do need to, you can use the `factories` option when creating a
      a(href='doc/classes/kb/ViewModel.html') kb.ViewModel
      span  or
      a(href='doc/classes/kb/CollectionObservable.html') kb.CollectionObservable.

    h2 Specifying Mappings Paths for kb.CollectionObservables
    p In the following example, we specify bindings so the collection view models (path: 'models') use a PersonViewModel; whereas, the 'friends' relationship (path: 'models.friends.models') uses FriendViewModel.

    div.row-fluid
      div.span8
        ul.nav.nav-tabs
          li.active <a href="#kbnm_collection_observables_view" data-toggle="tab">View (HTML)</a>
          li <a href="#kbnm_collection_observables_view_model" data-toggle="tab">ViewModel (CS/JS)</a>
        div.tab-content
          div.tab-pane.active#kbnm_collection_observables_view
            pre
              include kbnm_collection_observables.html.txt
          div.tab-pane#kbnm_collection_observables_view_model
            pre(data-for='cs')
              include kbnm_collection_observables.coffee

            pre(data-for='js')
              include ../../../public/tutorials/nested_models/kbnm_collection_observables.js

      div.span4
        h4 Live Result
        div.demos_result_box
          include kbnm_collection_observables.html
          script(type='application/javascript', src='tutorials/nested_models/kbnm_collection_observables.js')

    h2 Specifying Mappings Paths for ViewMoels
    p In the following example, we specify bindings so the collection view models (path: 'models') use a PersonViewModel; whereas, the 'friends' relationship (path: 'models.friends.models') uses FriendViewModel.

    div.row-fluid
      div.span8
        ul.nav.nav-tabs
          li.active <a href="#kbnm_view_models_view" data-toggle="tab">View (HTML)</a>
          li <a href="#kbnm_view_models_view_model" data-toggle="tab">ViewModel (CS/JS)</a>
        div.tab-content
          div.tab-pane.active#kbnm_view_models_view
            pre
              include kbnm_view_models.html.txt
          div.tab-pane#kbnm_view_models_view_model
            pre(data-for='cs')
              include kbnm_view_models.coffee

            pre(data-for='js')
              include ../../../public/tutorials/nested_models/kbnm_view_models.js

      div.span4
        h4 Live Result
        div.demos_result_box
          include kbnm_view_models.html
          script(type='application/javascript', src='tutorials/nested_models/kbnm_view_models.js')