extends ../_layout/_layout_template

include ../_layout/_layout_mixins
include ../_docs/_docs_mixins

block title
  title Knockback.js Docs

block includes
  link(rel='stylesheet', href='stylesheets/docs.css')

block navbar
  mixin pageNavbar('Docs', true)

block api_descriptions

  //////////////////////////////////
  // kb.Store
  //////////////////////////////////
  h2 kb.Store
  div Used to manage the persistence and sharing of ViewModels and observables (mainly to break relationship cycles between models).
  h4 Example:
  pre(data-for='cs').
    TODO
  pre(data-for='js').
    TODO

  h3#constructor constructor()
  div Used to create a new instance
  pre(data-for='cs').
    TODO
  pre(data-for='js').
    TODO

  h3#destroy destroy()
  div Used to release the memory of the object

  h3#register_value registerValue(key, value)
  div TODO
  pre(data-for='cs').
    TODO
  pre(data-for='js').
    TODO

  h3#resolve_value resolveValue(key, create_fn, args)
  div TODO
  pre(data-for='cs').
    TODO
  pre(data-for='js').
    TODO

  h3#release_value releaseValue(value)
  div TODO
  pre(data-for='cs').
    TODO
  pre(data-for='js').
    TODO

  h3#add_resolver_to_options addResolverToOptions(options, key)
  div TODO
  pre(data-for='cs').
    TODO
  pre(data-for='js').
    TODO

  h3#resolve_from_options kb.Store::resolveFromOptions(options, value) <span class='label label-success'>class</span>
  div TODO
  pre(data-for='cs').
    TODO
  pre(data-for='js').
    TODO

block content
  div.api.container
    h1 Knockback.js API and Usage Examples
    div.container-fluid
      div.row-fluid
        div.span3.api.index
          mixin docsIndex('kb.Store', [{constructor: 'constructor'}, {destroy: 'destroy'}, {register_value: 'registerValue'}, {resolve_value: 'resolveValue'}, {release_value: 'releaseValue'}, {add_resolver_to_options: 'addResolverToOptions'}, {resolve_from_options: 'resolveFromOptions'}])
        div.span9.api.descriptions
          div.content
            div.wrapper
              block api_descriptions
