extends ../../_layout/_layout_template

include ../../_layout/_layout_mixins

block title
  title Tutorial: ViewModel Injection
  <>

block includes
  link(rel='stylesheet', href='css/tutorial.css')
  include ../../_layout/_layout_include_demo_scripts

block navbar
  +pageNavbar('Tutorials', true)

block content
  :markdown-it
    #Tutorial: ViewModel Injection

    [Knockback.js](index.html) provides an a few helpers to inject ViewModels into your HTML Views in a similar way to [AngularJS's](http://angularjs.org/) `ng-app` so you can build up an application by dynamically binding observables directly from your HTML.

    The following examples show how you might port AngularJS samples to Knockback to help you compare approaches. There's nothing complicated here, just a `kb-inject` attribute and a custom `inject` Knockout binding to add observables to your ViewModel.

    The main way to bind a View when your page is loaded, is to use a `kb-inject` attribute on your HTML elements. You can optionally provide some hooks if you like:

    For more examples and information, please see the [API Documentation](doc/class/kb/Inject.html#injectViewModels-static).

  pre
    include kbi_view_1.html.txt

  :markdown-it
    In addition to help you inject observables to your ViewModel, you can use the 'inject' custom binding. It accepts an object to extend your ViewModel or a function of the form yourFunction(view_model, element) to allow you to extend the view model by hand:

  pre
    include kbi_view_2.html.txt

  :markdown-it

    That's basically it...it's really a lot easier than memorizing or looking up a large number of custom `ng-{something}` bindings and you can reuse your knowledge of Knockback.js, Knockout.js, and Backbone.js!

    ### Getting Started - Hello World!

    There are a few helpers to get us started:

  pre(data-for='cs')
    include kbi_helpers.coffee.txt

  pre(data-for='js')
    include kbi_helpers.js.txt

  :markdown-it
    ### Hello Example

    This example uses the 'kb-inject' attribute to seed a root application ViewModel with a yourName observable (like a more flexible ng-model binding).

  div.row-fluid
    div.span8
      h4 View (HTML)
      pre
        include kbi_hello_view.html.txt

    div.span4
      h4 Live Result
      div.demos_result_box
        include kbi_hello_view.html

  :markdown-it
    You could have just as easily written the first line like:
  pre
    include kbi_view_3.html.txt

  :markdown-it
    ### Todo Example

    The todo example uses a custom 'TodoCtrl' inject function to add some functions and observables to your view model. Then you can bind them to your HTML using standard Knockout bindings.

  div.row-fluid
    div.span8
      ul.nav.nav-tabs
        li.active <a href="#kbi_todo_view" data-toggle="tab">View (HTML)</a>
        li <a href="#kbi_todo_view_model" data-toggle="tab">Controller (CS/JS)</a>
        li <a href="#kbi_todo_css" data-toggle="tab">Styling (CSS)</a>
      div.tab-content
        div.tab-pane.active#kbi_todo_view
          pre
            include kbi_todo_view.html.txt
        div.tab-pane#kbi_todo_view_model
          pre(data-for='cs')
            include kbi_todo_controller.coffee.txt

          pre(data-for='js')
            include kbi_todo_controller.js.txt

        div.tab-pane#kbi_todo_css
          pre
            include kbi_todo.css

    div.span4
      h4 Live Result
      div.demos_result_box
        link(rel='stylesheet', href='tutorials/inject/kbi_todo.css')
        script(type='application/javascript', src='tutorials/inject/kbi_todo_controller.js')
        include kbi_todo_view.html

  :markdown-it
    ### Project Example

    Before we start the example, you should review the [validations documentation](doc/class/kb/Validation.html).
    Now on with the example! This example shows:

    * how you can set up a Backbone.Router to control an embedded page using the 'kb-inject' afterBinding callback
    * how to inject Knockback-Validation's kb.formValidator which will look for named inputs and other keywords to create an observable that will update when form state changes.


  script(type='application/javascript', src='tutorials/inject/kbi_helpers.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_model.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_collection.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_app_controller.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_list_view_model.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_view_model.js')
  include kbi_project_list_view.html
  include kbi_project_detail_view.html

  div.row-fluid
    div.span8
      ul.nav.nav-tabs
        li.active <a href="#kbi_project_app_view" data-toggle="tab">App View (HTML)</a>
        li <a href="#kbi_project_list_view" data-toggle="tab">List View (HTML)</a>
        li <a href="#kbi_project_detail_view" data-toggle="tab">Detail View (HTML)</a>
        li <a href="#kbi_project_app_controller" data-toggle="tab">App Controller (CS/JS)</a>
        li <a href="#kbi_project_collection" data-toggle="tab">Project ORM (CS/JS)</a>
        li <a href="#kbi_project_list_view_model" data-toggle="tab">List ViewModel (CS/JS)</a>
        li <a href="#kbi_project_view_model" data-toggle="tab">Project ViewModel (CS/JS)</a>
      div.tab-content
        div.tab-pane.active#kbi_project_app_view
          pre
            include kbi_project_app_view.html.txt
        div.tab-pane#kbi_project_list_view
          pre
            include kbi_project_list_view.html.txt
        div.tab-pane#kbi_project_detail_view
          pre
            include kbi_project_detail_view.html.txt
        div.tab-pane#kbi_project_app_controller
          pre(data-for='cs')
            include kbi_project_app_controller.coffee.txt
          pre(data-for='js')
            include kbi_project_app_controller.js.txt
        div.tab-pane#kbi_project_collection
          pre(data-for='cs')
            include kbi_project_model.coffee.txt
            include kbi_project_collection.coffee.txt
          pre(data-for='js')
            include kbi_project_model.js.txt
            include kbi_project_collection.js.txt
        div.tab-pane#kbi_project_list_view_model
          pre(data-for='cs')
            include kbi_project_list_view_model.coffee.txt
          pre(data-for='js')
            include kbi_project_list_view_model.js.txt
        div.tab-pane#kbi_project_view_model
          pre(data-for='cs')
            include kbi_project_view_model.coffee.txt
          pre(data-for='js')
            include kbi_project_view_model.js.txt

    div.span4
      h4 Live Result
      div.demos_result_box
        include kbi_project_app_view.html