extends ../../_layout/_layout_template

include ../../_layout/_layout_mixins

block title
  title Tutorial: Application Injection (like Angular.js)

block includes
  link(rel='stylesheet', href='css/tutorial.css')
  include ../../_layout/_layout_include_demo_scripts

block navbar
  mixin pageNavbar('Tutorials', true)

block content
  :markdown
    #Tutorial: Application Injection (like Angular.js)

    [Knockback.js](index.html) provides an a few helpers to inject application code in a similar way to [Angular.js](http://angular.org) so you can build up an application by dynamically adding observables to your ViewModel directly from your HTML.

    The following examples show how you might port Angular.js samples to Knockback to help you compare approaches. There's no magic here, just a kb-app attribute and a custom kb-inject Knockout bindings to add observables to your ViewModel.

    There are a few helpers to get us started:

    pre(data-for='cs')
      include kbi_helpers.coffee

    pre(data-for='js')
      include ../../../public/tutorials/inject/kbi_helpers.js

    ##Hello Example

  div.row-fluid
    div.span8
      h4 View (HTML)
      pre
        include kbi_hello_view.html.txt

    div.span4
      h4 Live Result
      div.demos_result_box
        include kbi_hello_view.html

  :markdown
    ##Todo Example

  div.row-fluid
    div.span8
      ul.nav.nav-tabs
        li.active <a href="#kbi_todo_view" data-toggle="tab">View (HTML)</a>
        li <a href="#kbi_todo_view_model" data-toggle="tab">Controller (CS/JS)</a>
        li <a href="#kbi_todo_css" data-toggle="tab">Styling (CSS)</a>
      div.tab-content
        div.tab-pane.active#kbi_todo_view
          pre
            include kbi_todo_view.html.txt
        div.tab-pane#kbi_todo_view_model
          pre(data-for='cs')
            include kbi_todo_controller.coffee

          pre(data-for='js')
            include ../../../public/tutorials/inject/kbi_todo_controller.js

        div.tab-pane#kbi_todo_css
          pre
            include kbi_todo.css

    div.span4
      h4 Live Result
      div.demos_result_box
        link(rel='stylesheet', href='tutorials/inject/kbi_todo.css')
        script(type='application/javascript', src='tutorials/inject/kbi_todo_controller.js')
        include kbi_todo_view.html

  :markdown
    ##Project Example

    You can use knockback-navigators-0.1.0.css and knockback-page-navigator-panes-0.1.0.js and knockback-sample-transitions-0.1.0.js

  script(type='application/javascript', src='tutorials/inject/kbi_helpers.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_model.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_collection.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_app_controller.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_list_view_model.js')
  script(type='application/javascript', src='tutorials/inject/kbi_project_view_model.js')
  include kbi_project_list_view.html
  include kbi_project_detail_view.html

  div.row-fluid
    div.span8
      ul.nav.nav-tabs
        li.active <a href="#kbi_project_app_view" data-toggle="tab">App View (HTML)</a>
        li <a href="#kbi_project_list_view" data-toggle="tab">List View (HTML)</a>
        li <a href="#kbi_project_detail_view" data-toggle="tab">Detail View (HTML)</a>
        li <a href="#kbi_project_app_controller" data-toggle="tab">App Controller (CS/JS)</a>
        li <a href="#kbi_project_collection" data-toggle="tab">Project ORM (CS/JS)</a>
        li <a href="#kbi_project_list_view_model" data-toggle="tab">List ViewModel (CS/JS)</a>
        li <a href="#kbi_project_view_model" data-toggle="tab">Project ViewModel (CS/JS)</a>
      div.tab-content
        div.tab-pane.active#kbi_project_app_view
          pre
            include kbi_project_app_view.html.txt
        div.tab-pane#kbi_project_list_view
          pre
            include kbi_project_list_view.html.txt
        div.tab-pane#kbi_project_detail_view
          pre
            include kbi_project_detail_view.html.txt
        div.tab-pane#kbi_project_app_controller
          pre(data-for='cs')
            include kbi_project_app_controller.coffee
          pre(data-for='js')
            include ../../../public/tutorials/inject/kbi_project_app_controller.js
        div.tab-pane#kbi_project_collection
          pre(data-for='cs')
            include kbi_project_model.coffee
            include kbi_project_collection.coffee
          pre(data-for='js')
            include ../../../public/tutorials/inject/kbi_project_model.js
            include ../../../public/tutorials/inject/kbi_project_collection.js
        div.tab-pane#kbi_project_list_view_model
          pre(data-for='cs')
            include kbi_project_list_view_model.coffee
          pre(data-for='js')
            include ../../../public/tutorials/inject/kbi_project_list_view_model.js
        div.tab-pane#kbi_project_view_model
          pre(data-for='cs')
            include kbi_project_view_model.coffee
          pre(data-for='js')
            include ../../../public/tutorials/inject/kbi_project_view_model.js

    div.span4
      h4 Live Result
      div.demos_result_box
        include kbi_project_app_view.html

    script(type='application/javascript').
      kb.injectApps();