
@import 'nib'
@import '../vendor/css/animate-custom.css';

.animated
  animation-fill-mode both

// Logo for header
// ------

div.knockback_logo
  position relative
  z-index 100
  font-size 70px
  padding 20px 0px 0px
  .lock
    line-height 1em

  .logo
    float left
    font-size 100%
    margin 5px 21px
    .part
      display block
      img
        height 27px
        display block
    .left
    .right
      animation-delay 1.3s

  h1
    margin 0px
    padding 0px
    float left
    font-size 100%
    font-weight normal

  .knock
    animation-delay 0.1s
  .magic
    animation-delay 0.4s
  .back
    animation-delay 1.0s

  h2
    clear both
    font-size 20px
    margin 1ex 0
    font-weight normal
    color #555
    margin-left 90px

@media (max-width: 510px)
  div.knockback_logo
    font-size 46px

    .logo
      margin 1px 3px

    h2
      font-size 14px
      margin-left 30px

// Credits for footer
// ------------------------

div.knockback_credits
  font-size 12px
  border-top 2px solid gray
  margin-top 3em
  padding-top 1em
  padding-bottom 1em
  text-align center

  p:last-child
    font-size 0.8em
    margin-top 1ex

// Radio buttons for coffeescript or javascript
// ------------------------

div#script_language
  z-index 200
  padding-top 8px
  border-radius top left 2px
  .separator
    margin 0px
    padding 0px
    margin-left 1ex
    float left
    .label
      margin 0 1ex

  .selection
    border 1px solid #ccc
    border-radius 4px
    display inline-block
    vertical-align middle
    border-width 1px
    border-style solid
    border-color #333 #666 #333
    background linear-gradient(top, #777, #999)
    .option
      display inline-block
      vertical-align middle
      input[type='radio']
        display none
        & + label
          display inline-block
          background none transparent
          margin -1px -1px 0
          padding 0.5ex 1ex
          vertical-align middle
          border-radius 3px
          cursor pointer

        &:checked + label
          background linear-gradient(top,#666,#333)
          color white
          text-shadow 0px 1px 0px rgba(white,0), 0px -1px 0px black
          box-shadow inset 0px 0px 0px 1px rgba(black,0.4)
          cursor default

@media (max-width: 979px)
  div#script_language
    position absolute
    top 50px
    right 15px